# AI Keys
GEMINI_API_KEY=

# Infrastructure
PORT=3001
DATABASE_URL=kubetriage.db
REDIS_ADDR=redis:6379
PROMETHEUS_URL=http://prometheus:9090

# Auth (Optional: Leave empty for Mock mode)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
JWT_SECRET=super-secret-key
MOCK_OIDC=true
